<h2>{{title}}</h2>
<div>
	<label>
  Name:
  <input type="text" (keyup)="validateName()" [(ngModel)]="name">
  </label>
	<div [ngClass]="{hidden: !invalidNameErrorMessage}" class="errorMessage">{{invalidNameErrorMessage}}&nbsp;</div>

	<label>
  Email:
  <input type="text" (keyup)="validateEmail()" [(ngModel)]="email">
  </label>
  <div [ngClass]="{hidden: !invalidEmailErrorMessage}" class="errorMessage">{{invalidEmailErrorMessage}}&nbsp;</div>

  <button [disabled]="containErrors()" (click)="validateOnSubmit()">Create user</button>
  <span *ngIf="submitMessage" class="errorMessage">{{submitMessage}}</span>
  <span *ngIf="successMessage" class="successMessage">{{successMessage}}</span>
</div>