<h2>{{ title }}</h2>
<div>
    <div class="form-control">
        <label>
            Name:
            <input type="text" (keyup)="validateName()" [(ngModel)]="name" />
        </label>
        <div class="error-message" *ngIf="invalidNameErrorMessage">{{ invalidNameErrorMessage }}&nbsp;</div>
    </div>

    <div class="form-control">
        <label>
            Email:
            <input type="text" (keyup)="validateEmail()" [(ngModel)]="email" />
        </label>
        <div class="error-message" *ngIf="invalidEmailErrorMessage">
            {{ invalidEmailErrorMessage }}
        </div>
    </div>
    <button (click)="validateOnSubmit()">Create user</button>
    <span *ngIf="submitMessage" class="error-message">{{ submitMessage }}</span>
    <span *ngIf="successMessage" class="success-message">{{ successMessage }}</span>
</div>
